*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e6e6e6;
    font-family: "trebuvhet MS", Helvetica, sans-serif;
    font-size: 1em;
}
/*layout*/
.area-cabecalho{

}
.area-logo{

}
.area-menu{

}